# Fake news Detection

In [1]:
#Importing Libraries

import pandas as pd  
import numpy as np  
import seaborn as sns  
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split  
from sklearn.metrics import accuracy_score  
from sklearn.metrics import classification_report  
import re  
import string

In [3]:
#Importing Dataset

data_fake = pd.read_csv("Fake.csv")  
data_true = pd.read_csv("True.csv")

In [4]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
data_fake['class']=0
data_true['class']=1

In [7]:
#Knowing the size of the data

data_fake.shape,data_true.shape

((23481, 5), (21417, 5))

In [8]:
data_fake_manual_testing=data_fake.tail(10)
for i in range(23480,23470,-1):
    data_fake.drop([i],axis=0,inplace=True)

In [9]:
data_true_manual_testing=data_true.tail(10)
for i in range(21416,21406,-1):
    data_true.drop([i],axis=0,inplace=True)

In [10]:
data_fake.shape,data_true.shape

((23471, 5), (21407, 5))

In [11]:
data_fake_manual_testing['class']=0
data_true_manual_testing['class']=1

C:\Users\Admin\AppData\Local\Temp\ipykernel_9520\549255127.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class']=0
C:\Users\Admin\AppData\Local\Temp\ipykernel_9520\549255127.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class']=1

In [12]:
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [13]:
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [14]:
data_merge=pd.concat([data_fake,data_true],axis=0)
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [15]:
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [16]:
data=data_merge.drop(['title','subject','date'],axis=1)

In [17]:
data.isnull().sum()

text     0
class    0
dtype: int64

In [18]:
data=data.sample(frac=1)

In [19]:
data.head()

                                                    text  class
20681  It s good to be worth tens of millions of doll...      0
6782   BALTIMORE (Reuters) - U.S. President-elect Don...      1
21801  New York Mayor Bill de Blasio traveled to Milw...      0
20142  That Hillary, she sure is a forked-tongued sil...      0
20152  Dunkin  Donuts is an American global donut com...      0

In [20]:
data.reset_index(inplace=True)
data.drop(['index'],axis=1,inplace=True)

In [21]:
data.columns

Index(['text', 'class'], dtype='object')

In [22]:
data.head()

                                                text  class
0  It s good to be worth tens of millions of doll...      0
1  BALTIMORE (Reuters) - U.S. President-elect Don...      1
2  New York Mayor Bill de Blasio traveled to Milw...      0
3  That Hillary, she sure is a forked-tongued sil...      0
4  Dunkin  Donuts is an American global donut com...      0

In [23]:
#Processing the text
def wordopt(text):
    text=text.lower()
    text=re.sub('\[.*?\]','',text)
    text=re.sub("\\W"," ",text)
    text=re.sub('https?://\S+|www\.\S+','',text)
    text=re.sub('<.*?.>','',text)
    text=re.sub('[%s]'% re.escape(string.punctuation),'',text)
    text=re.sub('\n','',text)
    text=re.sub('\w*\d\w*','',text)
    return text

In [24]:
data['text']=data['text'].apply(wordopt)

In [25]:
#defining dependent and independent variables

x=data['text']
y=data['class']

In [26]:
#splitting,training and testing the data

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [27]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.9.1)
Note: you may need to restart the kernel to use updated packages.

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization=TfidfVectorizer()
xv_train=vectorization.fit_transform(x_train)
xv_test=vectorization.transform(x_test)

In [29]:
from sklearn.linear_model import LogisticRegression

LR=LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [30]:
pred_lr=LR.predict(xv_test)

In [31]:
LR.score(xv_test,y_test)

0.9879679144385026

In [32]:
print(classification_report(y_test,pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5840
           1       0.99      0.99      0.99      5380

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [33]:
from sklearn.tree import DecisionTreeClassifier

DT=DecisionTreeClassifier()
DT.fit(xv_train,y_train)

DecisionTreeClassifier()

In [34]:
pred_dt=DT.predict(xv_test)

In [35]:
DT.score(xv_test,y_test)

0.996969696969697

In [36]:
print(classification_report(y_test,pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5840
           1       1.00      1.00      1.00      5380

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [41]:
from sklearn.ensemble import GradientBoostingClassifier

GB=GradientBoostingClassifier(random_state=0)
GB.fit(xv_train,y_train)

GradientBoostingClassifier(random_state=0)

In [42]:
pred_gb=GB.predict(xv_test)

In [43]:
GB.score(xv_test,y_test)

0.9958110516934047

In [44]:
print(classification_report(y_test,pred_gb))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5840
           1       0.99      1.00      1.00      5380

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [45]:
from sklearn.ensemble import RandomForestClassifier

RF=RandomForestClassifier(random_state=0)
RF.fit(xv_train,y_train)

RandomForestClassifier(random_state=0)

In [46]:
pred_rf =RF.predict(xv_test)

In [47]:
RF.score(xv_test,y_test)

0.9903743315508021

In [48]:
print(classification_report(y_test,pred_rf))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5840
           1       0.99      0.99      0.99      5380

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [53]:
def output_lable(n):  
    if n == 0:  
        return "Fake News"  
    elif n == 1:  
        return "Not A Fake News"  
     
def manual_testing(news):  
    testing_news = {"text":[news]}  
    new_def_test = pd.DataFrame(testing_news)  
    new_def_test["text"] = new_def_test["text"].apply(wordopt)  
    new_x_test = new_def_test["text"]  
    new_xv_test = vectorization.transform(new_x_test)  
    pred_LR = LR.predict(new_xv_test)  
    pred_DT = DT.predict(new_xv_test)  
    pred_GB = GB.predict(new_xv_test)  
    pred_RF = RF.predict(new_xv_test)  
  
  
    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGB Prediction: {} \nRF Prediction: {}".format(output_lable(pred_LR[0]),  output_lable(pred_DT[0]),  
                                                                                                              output_lable(pred_GB[0]),  
                                                                                                              output_lable(pred_RF[0])))

In [54]:
news = str(input())  
manual_testing(news)

Actor and Congress leader Divya Spandana’s death rumours started doing the rounds on the internet on Wednesday. The actor has now debunked her death rumours. There was a tweet that stated that the actor had died due to a heart attack.   Divya spoke to The News Minute and refuted rumours of her death. “Who the hell is saying I died?” Spandana told the news portal’s editor-in-chief Dhanya Rajendran.   Dhanya also tweeted, “Just spoke to @divyaspandana. She is in Geneva and was sleeping peacefully till calls came in. Whoever the irresponsible person was who tweeted this and the news organisations that put it out as news flash, shame on you.”   Her other tweet read, “It was really the strangest conversation, kept calling @divyaspandana and she didnt pick first few times and naturally I was panicking. Finally, she did and I had to say-I am glad you are alive, She is like who the hell is saying I died! #DivyaSpandana.”    Another journalist also posted a picture with Divya from Geneva and wrote, “Wonderful meeting the very talented and genteel lady ⁦@divyaspandana for dinner in Geneva. We talked about many things including our love for Bangalore.”


LR Prediction: Fake News
DT Prediction: Fake News
GB Prediction: Fake News
RF Prediction: Fake News

In [56]:
news=str(input())
manual_testing(news)

Over 1,000 bodies have been recovered in the eastern Libyan city of Derna after it was hit by floods, a minister in the eastern administration said on Tuesday, adding hit was not possible to know the overall toll at present but it would be very big. "I returned from Derna. It is very disastrous. Bodies are lying everywhere - in the sea, in the valleys, under the buildings," Hichem Chkiouat, minister of civil aviation and member of the emergency committee, told Reuters by phone.  "The number of bodies recovered in Derna is more 1,000," he said. He expected the final toll would be "really, really big". "I am not exaggerating when I say that 25% of the city has disappeared. Many, many buildings have collapsed."  Powered By VDO.AI Video Player is loading. PauseUnmute Fullscreen Authorities in eastern Libya had said at least 2,000 people were killed and thousands more were missing after a massive flood ripped through the city of Derna following a heavy storm and rain.  Ahmed Mismari, the spokesperson for the Libyan National Army (LNA) that controls eastern Libya, said in a televised news conference that the disaster came after dams above Derna had collapsed, "sweeping whole neighbourhoods with their residents into the sea".  Mismari put the number of missing at 5,000-6,000.  Earlier on Monday, the head of the Red Crescent aid group in the region had said Derna's death count was at 150 and expected to hit 250. Reuters could not immediately verify either figure.  Libya is politically divided between east and west and public services have crumbled since a 2011 NATO-backed uprising that prompted years of conflict. The internationally recognised government in Tripoli does not control eastern areas.  In Tripoli, the three-person Presidential Council which functions as head of state in the divided country asked the international community to help. "We call on brotherly and friendly countries and international organisations to provide assistance," it said.  Osama Hamad, the head of a parallel eastern-based administration, told local television that more than 2,000 were dead and thousands more missing.  After pummelling Greece last week, Storm Daniel swept in over the Mediterranean on Sunday, swamping roads and destroying buildings in Derna, and hitting other settlements along the coast, including Libya's second biggest city of Benghazi.  Videos of Derna showed a wide torrent running through the city centre where a far narrower waterway had previously flowed. Ruined buildings stood on either side.  Eastern Libya's Almostkbal TV broadcast footage that showed people stranded on the roofs of their vehicles calling for help and waters washing away cars.  "The missing are in the thousands, and the dead exceed 2,000," Osama Hamad told al-Masar TV. "Entire neighbourhoods in Derna have disappeared, along with their residents ... swept away by water."  Mismari said seven members of the LNA had died in the flood.  SURROUNDED BY WATER  Derna resident Saleh al-Obaidi said he had managed to flee with his family, though houses in a valley near the city had collapsed.  "People were asleep and woke up and found their homes surrounded by water," he told Reuters.  Ahmed Mohamed, another resident, said: "We were asleep, and when we woke up, we found water besieging the house. We are inside and trying to get out."  Witnesses said the water level had reached 10 feet.  West of Derna, visuals showed a collapsed road between the port town of Sousse and Shahat, home to the Greek-founded and UNESCO-listed archaeological site Cyrene.  Libya's eastern-based parliament declared three days of mourning. Abdulhamid al-Dbeibah, prime minister of the interim government in Tripoli, also declared three days of mourning in all the affected cities, calling them "disaster areas".  Four major oil ports in Libya - Ras Lanuf, Zueitina, Brega and Es Sidra - were closed from Saturday evening for three days, two oil engineers told Reuters.  Search-and-rescue operations were ongoing, witnesses said. Authorities declared a state of extreme emergency, closing schools and stores and imposing a curfew.  In Tripoli, the interim government directed all state agencies to "immediately deal" with the damage and floods in eastern cities, but the administration has no sway in the east.  However, Dbeibah's government works closely with the Central Bank of Libya, which disburses funds to government departments across the country.  The United Nations in Libya said it was following the storm closely and would "provide urgent relief assistance in support of response efforts at local and national levels".  Listen to the latest songs, only on JioSaavn.com Qatar's Emir Sheikh Tamim bin Hamad al-Thani instructed the government to send aid to the affected area in eastern Libya, Qatar's state news agency reported.


LR Prediction: Not A Fake News
DT Prediction: Not A Fake News
GB Prediction: Not A Fake News
RF Prediction: Not A Fake News